services:
  api:
    build: .
    volumes:
      - ./:/opt/app
    ports:
      - 3000:3000
  database:
    image: postgres:14.8-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes: 
      - dbdata:/var/lib/postgresql/data
volumes:
  dbdata:
    driver: local
